    <html ng-app="mainApp">
    <head>
      <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
      <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="jquery-ui.css">
      <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body ng-controller="MainController as maincontroller">
      <div class="navbar navbar-static-top masthead navbar-top navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="homepage.html">Citizenz</a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse" id="top-nav">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown"><span class="glyphicon glyphicon-flash font-size25"></span> Updates <sup class="jewelCount">{{maincontroller.updatesPending.length}}</sup></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="update in maincontroller.updatesPending">
                      <a ng-href="{{update.url}}"> {{update.text}}</a>
                    </li>
                </ul>
              </li>
              <li><a class="cursor-pointer" ng-click="selectCityModal()"><i class="fa fa-suitcase"></i> Current Location: {{maincontroller.userDetails.location}}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                  <img src="profile.png" class="img-circle"> Vikram Iyer <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="profile.html"><i class="fa fa-cog"></i> Account</a></li>
                    <li class="divider"></li>
                    <li><a href="index.html"><i class="fa fa-sign-out"></i> Sign-out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>  

        <div class="container profileContainer">
          <div class="row margin-top0">
            <div class="col-sm-8 col-sm-offset-3">
              <div class="row">
                <div class="col-sm-6">
                  Name:
                </div>
                <div class="col-sm-6">
                  <input type="text" value="{{maincontroller.userDetails.name}}">
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6">
                    User Image:
                </div>
                <div class="col-sm-6">
                  <img ng-src="{{maincontroller.userDetails.img}}"/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    Address:
                </div>
                <div class="col-sm-6">
                  <textarea>{{maincontroller.userDetails.address}}</textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    Location:
                </div>
                <div class="col-sm-6">
                  <input type="text" id="userLocationName" value="{{maincontroller.userDetails.location}}">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    Aadhar Card No.
                </div>
                <div class="col-sm-6">
                  <input type="text" value="{{maincontroller.userDetails.aadhar}}">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    PAN Card No.
                </div>
                <div class="col-sm-6">
                  <input type="text" value="{{maincontroller.userDetails.pan}}">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-xs-6 col-md-6">
                    <a href="homepage.html"><button class="btn btn-primary">Save</button></a>
                </div>
                <div class="col-sm-6 col-xs-6 col-md-6">
                    <button class="btn btn-default">Cancel</button>
                </div>
              </div>
              </div>
            </div>
          </div>
         </div>
         <div id='selectCityModal' class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Select your city:</h4>
                    </div>
                    <div class="modal-body" id="changeLocModal">
                      <!-- <select id='selectCity' ng-model='locationChanged' ng-options="i.name for i in maincontroller.citiesArray" ng-change="maincontroller.locChange(this.locationChanged)">
                      </select> -->
                  <input type="text" id="userLocationNameM" ng-model='maincontroller.userDetails.location'>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                  </div>
                </div>
              </div>
         <script type="text/javascript" src="jquery-1.12.1.min.js"></script>
          <script type="text/javascript" src="AutoSuggest.js"></script>
          <script type="text/javascript" src="bootstrap.min.js"></script>
          <script type="text/javascript" src="angular.min.js"></script>
          <script type="text/javascript" src="script.js"></script>
          <script type="text/javascript" src="jquery-ui.js"></script>
          </body>
          </html>
